*{
    margin: 0;
    padding: 0;
}



.container{
    display: flex;
   align-items: center;
   justify-content: center;
   background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    width: 1920px;
    height: 1080px;
    
}

.header {
   padding: 5px;
    background-color: #FCDDEC;
    width: 1440px;
    height: 1024px;
}

/* Logo

position: relative;
width: 150px;
height: 150px;

mix-blend-mode: normal;


/* V */

/* position: absolute;
left: 46.67%;
right: 46.67%;
top: 45.33%;
bottom: 48%;

font-family: 'Quintessential';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 98px;
display: flex;
align-items: center;
text-align: center; */

/* NurbV */
/* background: linear-gradient(135.29deg, #FF0000 -247.59%, rgba(223, 68, 68, 0.401042) -247.59%, rgba(224, 26, 157, 0.936591) 244.92%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;

mix-blend-mode: normal; */


/* Ellipse 1 */

/* position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

 Fuschia/80 
 border: 1px solid #F178B6;


 image 1 

 position: absolute;
width: 80px;
height: 78.05px;
left: 68.55px;
top: 48.74px;

background: url(image.png);
transform: rotate(44.5deg); */